* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial,sans-serif;
  background: #F5F7FA;
  font-size: 17px;
}

::selection{background-color:#fef4ad;color:#333;}

.nav-container {
  height: 60px;
  background: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  margin:0;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 2;
}

nav {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-links a {
  text-decoration: none;
  padding-left: 25px;
  color: #333;
  font-size: 17px;
}

.nav-links a:hover {
  color: hsl(219, 55%, 50%);
}

.logo img {
	height: 36px;
  display: block;
}


@media only screen and (max-width: 571px) {

	.svinav {
		display: none;
	}

}

.all {
  margin: 0 auto;
  width: 620px;
  padding: 0 30px;
  color: #333;
  line-height: 1.5;
  position: relative;
  min-height: 800px;

}

.all p {
  margin-bottom: 1rem;
}

h1, h2 {
  font-weight: 700;
  color: #1d2d35;
  line-height: 1.2;
  margin-bottom: 1.7rem;
}


h2 {
  font-size: 25px;
  margin-top: 4rem;

}



h2.dir {
    font-size: 22px;
    font-weight: 600;
	margin-top: 4rem; 
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1d2d35;
  line-height: 1.2;
  margin-bottom: 1.7rem;
  text-align: center;
}


.all h1 {
	 font-size: 32px;
	 margin-top: 4rem;
	 text-align: left;
}


#home-hero {
	/* background: #F5F7FA; */
	/* background: #e2eeff; */
  background-color: #e8eff7;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


.hero__emphasizing {
    background-image: url(../images/sw.svg);
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 -30px 0 -15px;
    padding: 20px 30px 20px 15px;
}





.solid-bg {
	 background: #F5F7FA;
}

.white-bg {
	background: #fff;
}


.hero-container {
  width: 860px;
  padding: 6rem 30px 5rem 30px;
  color: #333;
  line-height: 1.5;
  margin: 0 auto;
  }
  
.subheading {
	text-align:center;
	width: 500px;
	margin: 0 auto;
	/* color:#556978; */
	color:#333;
	font-size: 18px;
}


@media only screen and (min-width: 750px) and (max-width: 899px) {
	
 .hero-container {
    margin: 0 auto;
    width: 100%;
	padding: 4rem 30px 2rem 30px;
  }

.subheading {
	text-align:center;
	width: 80%;
}

h1 {
  font-size: 40px;
}

}
 
  
 
@media only screen and (max-width: 749px) {

  .hero-container {
    margin: 0 auto;
    width: 100%;
	padding: 3rem 20px 2rem 20px;
  }
  
  .subheading {
	text-align:left;
	width: 100%;
}

h1 {
	text-align:left;
	font-size: 35px;
}
}


.container {
  margin: 0 auto;
  max-width: 950px;
}

  

.border-top {
	border-top: 4px dashed #e8eff7;
}


		
.border-bottom {
	border-bottom: 4px dashed #e8eff7;
	}
	
	
	














/* START company header */


#company-hero {
  background-color: #fff;
}


.company-hero-container {
  width: 860px;
  padding: 4rem 30px 3rem 30px;
  color: #333;
  line-height: 1.5;
  margin: 0 auto;
  }
  
  

.company-hero-image {
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem; 
}


.h50 {
	height: 50px;	 
}

@media only screen and (min-width: 750px) and (max-width: 899px) {
	
 .company-hero-container {
    margin: 0 auto;
    width: 100%;
	padding: 3rem 30px 2rem 30px;
  }

.subheading {
	text-align:center;
	width: 80%;
}

h1 {
  font-size: 40px;
}

}
 
  
 
@media only screen and (max-width: 749px) {

  .company-hero-container {
    margin: 0 auto;
    width: 100%;
	padding: 3rem 30px 2rem 30px;
  }
  
  .subheading {
	text-align:left;
	width: 100%;
}

.company-hero-image {
	height: 60px;
	display: block;
	margin-left: 0;
	margin-right: auto;
}

.h50 {
	height: 50px;	 
}


h1 {
	text-align:left;
	font-size: 35px;
}
}




#company-text-only {
  
}


.company-text-only-container {
  width: 700px;
  padding: 1rem 30px 1rem 30px;
  color: #333;
  line-height: 1.5;
  margin: 0 auto;
  }

  .w900 {
    width: 900px;
  }



@media only screen and (max-width: 899px) {

 .w900 {
  width: 100%;
}
}


.company-text-details {
	padding: 20px 0 0 0;
	font-size: 16px;
	color: #333;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}

.company-text-details p {
	margin-bottom: 20px;
	margin-right: 1.5rem;
}



span.highlight {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #72531E;
    padding: 2px 12px 2px;
    background: #FFC767;
    border-radius: 10px;
    margin-left: 3px;
	position: relative;
	top: -3px;
}



@media only screen and (max-width: 699px) {

.company-text-only-container {
  width: 100%;
}
}



@media only screen and (max-width: 499px) {

.company-text-only-container p {
  width: 100%;
}
}



/* END company header */


dl {
	color: #556978;
}

dd {
	font-weight: bold;
}

dt {
	margin-bottom: 1.2rem;
}


a.company-link {
	color:#396ac6;
	text-decoration: none;
}


a.company-link:hover {
	text-decoration: underline;
	
}



a.showcase-link {
	text-decoration: underline;
	color:#333;
}

a.showcase-link:hover {
	color:#396ac6;
}



/* START Company content */


#company-about {
	
}

.company-about-container {
	width: 700px;
	margin: 0 auto;
	padding: 4rem 30px 2rem 30px;
	color: #333;
	line-height: 1.5;
}

.company-about-container p {
	margin-bottom: 1rem;
}

.company-about-container h2 {
	margin-top: 3rem;
	margin-bottom: 1.7rem;
	line-height: 1.2;
	font-size: 1.5rem;
  font-weight: 600;
	}

.company-about-container h2:first-child {
	margin-top: 0;
	}





.product-showcase {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 47%;
	margin-right: 1rem;
}

.product-showcase img{
	width: 100%;
}

.product-showcase-details {
	padding: 20px 20px 0 20px;
	font-size: 14px;
	color: #333;
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background: #efefef;
}

.product-showcase-details p {
	margin-bottom: 20px;
}


.product-showcase-details p:nth-child(odd) {
  width: 60%;
  margin-right: 1rem;
}


@media only screen and (max-width: 599px) {

.product-showcase {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 100%;
}
}


@media only screen and (max-width: 699px) {

.company-about-container {
  width: 100%;
}
}






#company-gallery {
	background-color: #1b2a4e;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232b3f70' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	
}

.company-gallery-container {
	width: 950px;
	margin: 0 auto;
	padding: 3rem 30px 2rem 30px;
	color: #fff;
	line-height: 1.5;
}


.company-gallery-container h2 {
	color: #fff;
	margin: 0;
	text-align: center;
	margin-bottom: 2rem;
}

.company-gallery-container p {
	color: #fff;
	text-align: center;
	margin: 1rem 0;
	font-size: 14px;
	
}

.photo-gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


}

.photo-gallery img {
	width: 40%;
	padding: 10px;
	
}










@media only screen and (max-width: 949px) {

.company-gallery-container {
  width: 100%;
}


}



@media only screen and (max-width: 699px) {


.company-gallery-container h2 {
  text-align: left;
}

.company-gallery-container p {
  text-align: left;
}


.photo-gallery {
  justify-content: flex-start;

}
}




@media only screen and (max-width: 499px) {


.photo-gallery {
  justify-content: center;
}

.photo-gallery img {
  width: 100%;
  padding: 0;
  padding-bottom: 2rem;
  
}
}



 
#home-pills {
		border-bottom: 4px dashed #e8eff7;
		border-top: 4px dashed #e8eff7;
} 
  
  
  
  
.pills-hero-wrapper {
	margin: 0 auto;
	padding: 3rem 0;
	width: 540px;
	text-align:center;
}




@media only screen and (max-width: 679px) {

  .pills-hero-wrapper {
    margin: 0 auto;
    width: 100%;
	padding: 3rem 20px;
	text-align:left;
  }
}

	


#zigzag {
  padding: 2rem 20px 0 20px;
  
}


.zig h3 {
  font-size: 1.5rem; 
  margin-bottom: 2rem;
  color: #1d2d35;
}

.zig {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
}

.zig-text, .zig-image {
  width: 50%;
}

.zig-text {
  margin: 2rem;  
}

.zig-text p {
	/* color:#556978; */
	color:#333;
	margin-bottom: 1rem;
	line-height: 1.5;
}


.zig-image {
  margin: 2rem;
  /* height: 380px;
  width: 380px; */
  }



.zig-image img {
  width: 100%;
  border-radius: 54% 46% 55% 45% / 32% 67% 33% 68%;
}



.z1 {
  border-radius: 54% 46% 55% 45% / 32% 67% 33% 68%;
  background-size: cover;
  /* height: 381px; */
  width: 422px;
}

.z-perlon {
	 background-image: url(../images/z-perlon.jpg);
	 
}


.z-handmade {
	background-image: url(../images/z-handmade.jpg);

}

.z-rubber {
  background-image: url(../images/z-rubber.jpg);
  
}

.z-canvas {
  background-image: url(../images/z-canvas.jpg);
  
}

.z-leather {
  background-image: url(../images/z-leather.jpg);
 
}


.z-metal {
  background-image: url(../images/z-metal.jpg);
  
}



.z-elastic {
  background-image: url(../images/z-elastic.jpg);
}



.z-nato {
  background-image: url(../images/z-nato.jpg);
}


.z-custom {
  background-image: url(../images/z-custom.jpg);
  
}


.z-sailcloth {
  background-image: url(../images/z-sailcloth.jpg);
  
}


.z-home {
  background-image: url(../images/z-home.jpg); 
}



.c-holbens {
  background-image: url(../images/company-holbens.jpg);
}


.c-tss {
  background-image: url(../images/company-tss.jpg);
}

.c-artem {
  background-image: url(../images/company-artem.jpg);
}

.c-barton {
  background-image: url(../images/company-barton.jpg);
}

.c-colareb {
  background-image: url(../images/company-colareb.jpg);
}


.c-crafterblue {
  background-image: url(../images/company-crafterblue.jpg);
}


.c-crownandbuckle {
  background-image: url(../images/company-crownandbuckle.jpg);
}

.c-molequin {
  background-image: url(../images/company-molequin.jpg);
  }

.c-everest {
  background-image: url(../images/company-everest.jpg);
  }
  
.c-blushark {
background-image: url(../images/company-blushark.jpg);
}


.c-watchgecko {
background-image: url(../images/company-watchgecko.jpg);
}

.c-strapsco {
background-image: url(../images/company-strapsco.jpg);
}


.c-strapcode {
background-image: url(../images/company-strapcode.jpg);
}


.c-haveston {
background-image: url(../images/company-haveston.jpg);
}


.c-windup {
background-image: url(../images/company-windup.jpg);
}


.c-hodinkee {
background-image: url(../images/company-hodinkee.jpg);
}

.c-bulang {
background-image: url(../images/company-bulang.jpg);
}


.c-singular {
background-image: url(../images/company-singular.jpeg);
}


.c-phenomenato {
background-image: url(../images/company-phenomenato.jpg);
}

.c-velle {
background-image: url(../images/company-velle.jpg);
}


.shipping-price {
  margin-top: 1.5rem;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  display: inline-block;
  padding: 1rem 0;
  

}

.shipping-price p {
 margin-bottom: 0;
}



dd span {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: #72531E;
    padding: 2px 12px 2px;
    background: #FFC767;
    border-radius: 10px;
    margin-left: 3px;
	position: relative;
	top: -3px;
}



.pb0 {
  padding-bottom: 0;
}

.cena-teksta {
    color: #265adc;
}


/* end zigzag */


@media (max-width: 750px) {


#zigzag {
  padding: 3rem  20px 1rem  20px;
}

.zigzag-top {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.zigzag-top h2 {
  font-size: 1.8rem;
  text-align: left;
}



.zag, .zig {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.zag:last-child {
    padding-bottom: 0;
}

.zag-text, .zag-image, .zig-text, .zig-image {
  width: 100%;
  padding: 0;
}

.zig-text, .zag-text {

  margin: 0;

}

.zag-text, .zig-text {
  margin-bottom: 1.5rem;
}
}


@media only screen and (max-width: 750px) {
	
	
.z1 {
      height: calc(100vw - 60px);
}

.zig-image {
    margin: 0;
}
}


#pricing {
  background-color: #1b2a4e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232b3f70' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.pricing {
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: space-evenly;
	padding: 4rem 30px;
}

.pricing h2 {
	margin:0;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	width: 40%;

}

.pricing p {
	color: #abbcd5;
	width: 50%;
	line-height: 1.5;
}



@media (max-width: 750px) {


.pricing {
  padding: 3rem  20px 3rem  20px;
  flex-direction: column;
  flex-wrap: wrap;
}


.pricing h2 {
	margin-bottom: 1.5rem;
	
	width: 100%;

}

.pricing p {
	
	width: 100%;
	
}
}






#common-types {
  padding: 4rem 30px;
}

.common-types-container {
  width: 620px;
  margin: 0 auto;
  padding: 0 30px;
}

.common-types-container h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 30px;
}

.common-types-container p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #333; 
}



@media only screen and (max-width: 679px) {
	
	
	#common-types {
  padding: 3rem 20px;
}

 .common-types-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
}



.card-wrapper {
  margin: 40px auto;
  width: 100%;
  color: #4B606C;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 10px;
  /* border: 1px solid #e4e6ea; */
  transition: 0.25s;
}

.card-wrapper p {
  margin: 0;
}

.card-wrapper:hover {
  box-shadow: 0 .75rem .75rem 0.0375rem rgba(0,0,0,.075) !important;
  /* cursor: pointer; */
}



.card-top {
  padding: 20px;
  display: flex;
  font-size: 16px;

}

.card-wrapper h3 {
  color: #1d2d35;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}


.card-desc p {
  margin-top: 12px;

}


.spa-info {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-content: center;
  line-height:20px;
  }
  
  svg {
	height: 22px;
	line-height: 22px;
	margin-right: 6px;
}

.company-logo {
  margin-right: 20px;
}

.company-logo img {
  /* border-radius: 50%;  */
  width: 60px;
  box-sizing: border-box;
  padding: 5px 5px 0 5px ;
}


.card-price {
  margin: 1.5rem 0;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  display: inline-block;
  padding: 1rem 0;

}

.card-price p {
  font-size: 14px;
}

span {
  font-weight: bold;
}


.card-title a {
	text-decoration: none;
}

.card-title a:hover {
	opacity: 0.7;
}

.coupon {
	border-radius: 12px;
    border: 1px dashed #448bc3;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    color: #448bc3;
    text-decoration: none;
    margin-top: 1.2rem;
}

.handmade {
	border-radius: 12px;
    border: 1px dashed #e39219;
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    color: #e39219;
    text-decoration: none;
    margin-top: 1.2rem;
	
}


.handmade:hover, .coupon:hover {
	opacity: 0.6;
}




.link {
	font-size: 14px;
	margin-bottom: 7px;
}

.link a {
	text-decoration:none;
	color: #4B606C;
	padding-right: 6px;
}

.link a:nth-child(2) {
	padding-left: 6px;
}

.link a:hover {
	color: hsl(219, 55%, 50%);
    text-decoration: underline;
}

.card-bottom {
/*  background: #F8F9FA;*/
  background: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 100px;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
}


.card-pills a {
  /* font-weight: 600; */
  line-height: 20px;
  margin-right: 9px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.filter-pills a {
  /* font-weight: 600; */
  margin-top:7px;
  margin-bottom:7px;
  margin-right: 7px;
}


.pill {
  border-radius: 20px;
  padding: 3px 12px 3px;
  display: inline-block;
  font-size: 13px;
}

.pill {
	text-decoration:none;
	color: inherit;
}

.pill:hover {
	opacity: 0.75;
}



.rubber {
  color: #4F40D0;
  background: #D9D6F5;
}


.custom {
  color: #927513;
  background: #f3e8c6;
}

.metal {
  color: #1377af;
  background: #d6eaf5;
}

.canvas {
  color: #8c3215;
  background: #ffe5dc;
}

.nato {
  color: #208810;
  background: #d2f9cc;
}


.sailcloth {
  color: #505050;
  background: #dedede;
}

.elastic {
  color: #177d80;
  background: #cbf6f7;
}

.chat {
  color: #1f3096;
  background: #b8c2ff;
}

.perlon {
  color: #6d2a12;
  background: #ceb8b0;
}


.landing {
  color: #692b92;
  background: #f1dcff;
}


.leather {
  color: #77480d;
  background: #f9dfc0;
}





.filter-pills-home {
  font-size: 15px;
  padding: 1rem 0;
  text-align:center;
}



.filter-pills-home a {
  /* font-weight: 600; */
  margin-top:7px;
  margin-bottom:7px;
  margin-right: 7px;
}


.pill-home {
  border-radius: 20px;
  padding: 7px 18px 6px;
  display: inline-block;
  font-size: 15px;
}


@media only screen and (max-width: 679px) {

 
.filter-pills-home {
  font-size: 14px;
   text-align: left;
}
}




@media only screen and (max-width: 401px) {

  .card-pills a.pill:nth-child(3) {
	  margin-top: 10px;
  }


}


.card-website {
  display: inline-block;
}



.card-website a {
  text-decoration: none;
  color: #4B606C;
}

.card-website a:hover {
  color: hsl(219, 55%, 50%);
  text-decoration: underline;
}


.add-wrapper {
  margin: 50px 0;
}

/* .add p:last-child {
  margin: 50px 0;
} */

.add-button {
  color: #fff;
  background-color: #5c6ac0;
  background-clip: border-box;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 5px;
  padding: 12px 20px;
  transition: 0.25s;
  text-decoration: none;
}

.add-button:hover {
  box-shadow: 0 .35rem .75rem 0.0375rem rgba(0,0,0,.075) !important;
  background-color: #4151ad;

  /* cursor: pointer; */
}

.mt60 {
  margin-top: 60px;
}


.annotation {
  background: #fff;
  font-size: 15px;
  padding: 20px;
  border-radius: 20px;
  color: #5d6a71;
}

.spanholder {
  display: inline-block;
}

@media only screen and (max-width: 679px) {

  .all {
    margin: 0 auto;
    width: 100%;

  }

  nav {
    width: 100%;
    padding: 0;
  }


  .card-top {
    display: flex;
    flex-direction: column;
  }
  .company-logo {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card-bottom {
    padding: 15px 20px 15px 20px;
    /* flex-direction: column; */
  }

  .card-website {
    /* margin-bottom: 20px; */
  }

  .mt60 {
    margin-top: 60px;
  }
}


@media only screen and (max-width: 499px) {

  .nav-container {
    padding: 0 20px;
    position: static;
  }

  .company-logo {
    margin-right: 0;
  }

  .all {
    padding: 0 20px;
  }

  .nav-links a {
    padding-left: 1rem;
  }

  .card-bottom {
    padding: 15px 20px 15px 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;;
  }

  .card-website {
    margin-top: 10px;
  }

  .mt60 {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 330px) {

  .nav-links a {
	font-size: 14px;
  }

label {
	font-size: 14px;
}
}




.top-lista p {
  line-height: 30px;
}

.top-lista {
  margin-bottom: 50px;
}

.top-list a {
  color: #4B606C;
  text-decoration: none;
}



.top-list a:hover {
  color: hsl(219, 55%, 50%);
  text-decoration: underline;

}

.contact a {
  color: hsl(219, 55%, 50%);
  text-decoration: none;

}

.contact a:hover {
  color: hsl(219, 55%, 50%);
  text-decoration: underline;

}


.timeline {
	display: flex;
	background: white;
	padding: 40px 30px 20px 20px;
	border-top: 1px solid #e8e8e8;
}


.timeline:hover {
	background: #f8fbff;
	border-left: 3px solid #c4d3ea;
	margin-left: -3px;
}

.timeline:last-child {
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 50px;
}


.timeline:hover .timeline-logo img {
  mix-blend-mode: multiply;
}


.timeline-logo {
    margin-right: 20px;
}

.timeline-logo p {
	font-size: 30px;
}



.company-logo {
  margin-right: 20px;
}

.timeline-logo img {
  /* border-radius: 50%;  */
  width: 60px;
  box-sizing: border-box;
  padding: 5px 5px 0 5px ;
}





.timeline-text h3 {
	color: #1d2d35;
	font-size: 21px;
    font-weight: 600;
	margin-bottom: 10px;
}

.timeline-text p {
	font-size: 16px;
}




.timeline-text span {
	color: #a3aab5;
	font-size: 14px;
	margin-bottom: 0;
}

table {
	text-align: left;
	margin-bottom: 20px;
  font-size: 15px;
}

tr, td, th {
	padding: 5px 20px;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}

tr:nth-child(even) {
  background-color: #fff;
}

th {
  background-color: #d4e5f3;
  font-weight: normal;
}


@media only screen and (max-width: 330px) {

  .timeline {
  	display: flex;
  	flex-direction: column;
  }

}



.blog-wrapper {
    border-top: 1px solid #ccc;
    padding: 3rem 0;
}


.blog-details a {
  color: #122836;
  text-decoration: none;
}

.blog-details a:hover {
  color: hsl(219, 55%, 50%);
}

.blog-details h2 {
  font-size: 22px;
  color: #122836;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.4rem;
}


.blog-details span {
  font-size: 14px;
  font-weight: 400;
  margin-right: 12px;
  color: #949494;
}

.blog-details p {
    border-radius: 20px;
    padding: 1px 12px 3px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 12px;
}

.blog-single p {
  font-size: 18px;
  line-height: 1.6;
}

.blog-single ul {
  margin: 25px 40px;
  font-size: 17px;
}

.origin {
  color: #177d80;
  background: #cbf6f7;
}

.testovi {
  color: #927513;
  background: #f3e8c6;
}

.razvoj {
  color: #692b92;
  background: #f1dcff;
}

.tutorijal {
  color: #208810;
  background: #d2f9cc;
}


.sto  {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.full-width {
  margin-left: -200px;
  margin-right: -200px;
  width: 910px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 950px) {
  .full-width {
    margin: 0 auto;
    width: 710px;
    margin-left: -100px;
    margin-right: -100px;
  }
}

@media only screen and (max-width: 750px) {
  .full-width {
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }
}


@media only screen and (max-width: 330px) {

  .spanholder {
    display: block;
    margin-top: 1rem;
  }

}

ul.lista {
    margin: 1rem 0;
	color:#333;
	/* color: #556978; */
    list-style: none;
}

ul.lista li {
  line-height: 26px;
  display: flex;
}


ul.lista li:before {
    content: url(../images/1.svg);
    display: inline-block;
}


a.active {
  color: hsl(219, 55%, 50%);
  border-bottom: 2px solid hsl(219, 55%, 50%);
  padding-bottom: 18px;
}

.review-title {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.review-punch {
  color: #9da2a9;
  font-size: 18px;
}

.review-price p {
  display: inline-block;
  margin-right: 10px;
}

p.sajt{
  margin: 1.5rem 0;
}

.sajt a {
  color: hsl(219, 55%, 50%);
  text-decoration: none;
}

.sajt a:hover {
  text-decoration: underline;
}


.sajt a:after {
    content: url(../images/external.svg);
    width: 14px;
    display: inline-block;
    margin-left: 7px;
}


footer {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 14px;
  border-top: 4px dashed #e8eff7;
  
}


.fl a {
  margin-right: 10px;
}

.small {
  margin-top: 10px;
}


/* h1 span {
  font-size: 20px;
  color: #708896;
} */


ul.plain {
  margin-top: 1rem;
  padding-left: 20px;
}

ul.plain li {
  line-height: 1.7;
  color: #333; 
}


.minimap {
	background: white;
	padding: 15px 30px;
	top:100px;
	position: sticky;
	font-size: 14px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	border-radius: 10px;
	width: 250px;
	left: calc(100% - 200px);
}


.minimap:hover {
	 box-shadow: 0 .3rem .5rem 0.0375rem rgba(0,0,0,.075) !important;
	 transition: 0.25s;
}


.minimap-links ul {
	list-style: none; 
}

.minimap-links ul li{
	margin: 10px 0;
}


.minimap-links ul li a{
	color: #333;
	text-decoration: none;
}

.minimap-links ul li a:hover {
	color: hsl(219, 55%, 50%);
		
}



@media only screen and (max-width: 1070px) {
  .minimap {
    display:none;
  }
}


hr {
	border-top: 1px solid #c5c5c5;
}

.f16 {
	font-size: 16px;
}

p.f14 {
	font-size: 14px;
}


/* company-internal-link*/ 

.cil {
  text-decoration: none;
  color: #333;
}


/* snippet-internal-link*/ 

.sil {
  text-decoration: none;
  color: #4b606c;
}



/* ---- button ---- */

.button {
/*  display: inline-block;
  padding: 0.5em 1.0em;
  background: none;
  border: 1px solid #e3e8ef;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;*/

    display: inline-block;
    padding: 0.5em 1em;
    background: white;
    border: 1px solid #c1cdde;
    color: #333;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
 
  
}

.button:hover {
  background-color: #f5f7fa;
  color: #333;
}

.button:active,
.button.is-checked {
  background-color: #5970bd;
}

.button.is-checked {
  color: white;

}

.button:active {
  
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}





.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}



/* ---- ui-group ---- */


.ui-group h3 {
	margin-bottom: 1rem;
	font-size: 15px;
	color: #1d2d35;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  font-size: 13px;
}


.filters a {
  color: #4B606C;
  text-align: center;
  text-decoration: none;
  background: white;
  border: 1px solid #b2cddc;
  padding: 4px 9px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
}

.filters a:last-child {
  margin-right: 0;
}

.filters a.selected, .filters a:hover {
  background: #e3eaf5;
}


@media only screen and (max-width: 355px) {
  .filters a {
    width: 40%;
    margin-top: 5px;
  }
}



.filter-container {
	
	/* position:absolute; */
	/* left:60px; */
	/* display: block; */
	/* height: 800px; */
}



.filter-container {
	
	position:absolute;
	top:0;
	bottom: 0;
	width: 230px;
	right: calc(50vw + 40px);
}




.filters {
	position: sticky!important;
	padding: 1rem 2rem;
	width: 230px;
	top:100px;
/*  background: white;
  border-radius: 8px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
 */
	
}

summary {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 1rem;
}


.mt2 {
	margin-top: 2rem;
}


@media only screen and (max-width: 1050px) {
  .filters  {
    padding: 0;
  }
}



@media only screen and (max-width: 999px) {
	.filter-container {
		position: static;
		top: auto;
		bottom: auto;
		width: 100%;
		right: auto;
}

	.filters  {
		
		padding-top: 1rem;
		position: static;
		width: 100%;
		top: auto;
		display: flex;
		flex-direction: row;
}

.ui-group {
	width: 50%;
}


.button-group {
    display: flex;
	width: 100%;
    flex-direction: column;
	flex-wrap: wrap;
}

.mt2 {
	margin-top: 0;
}
}

/* dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
	padding-left: 25px;
    
}


/**
    Hide the checkbox itself. For selecting 
    it we will use the label instead.
*/

input[type=checkbox]{
    display: none;
}


/* Click to expand button */

label{
    
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: #333;
}


/*  The ul will have display:none by default */

.mega-menu-wrapper {
    position: absolute;
    list-style: none;
    text-align: left;
    z-index: 1;
	width: auto;
	top:50px;
    display: none;
	left: -400px;
	padding: 1rem 2rem 2rem 2rem;
	background: white;
	border-radius: 1rem;
	box-shadow: 0 15px 20px rgba(0,0,0,.075); 
	border: 1px solid #e5e9ef; 
	overflow: auto ;
}



/* .dropdown ul li{ */
    /* padding: 0 3px; */
    /* background-color: #fff; */
    /* color: #396ac6; */
    /* cursor: pointer; */
/* } */





/* .dropdown ul li:hover{ */
    /* background-color: #f5f7fa; */
    /* color: #FFF; */
/* } */

/* .dropdown ul li a{ */
    /* color: #222; */
	/* line-height: 40px; */
    /* text-decoration: none; */
	/* font-size: 15px; */
	/* display:block; */
/* } */

label:hover {
	color:#396ac6;
	
}
input[type=checkbox]:checked ~ label {
    background-color: #fff;
	color:#396ac6;
}


input[type=checkbox]:checked ~ .mega-menu-wrapper {
    display: block;
}


@media only screen and (max-width: 499px) {
	.mega-menu-wrapper {
		box-shadow: 0px 30px 60px 10px rgb(62 66 66 / 22%);
}
}


@media only screen and (max-width: 330px) {

  
/* .dropdown ul li a{ */
	/* line-height: 32px; */
	/* font-size: 14px; */
/* } */

/* .dropdown ul { */
    /* width: 180px; */
/* } */
}



span.main-nav-notif {
	font-size: 12px;
    color: #3f5f78;
    margin: 0;
    margin-left: 0.5rem;
    padding: 6px;
    background: #e8eff7;
    border-radius: 50%;
    display: inline-block;
   
    font-weight: bold;
}

.mega-menu-content a {
	padding:0;
	margin:0;
}


.mega-menu-content {
	display: flex;
	flex-direction: row;
}



.nav-cat-wrapper {
	display:flex;
	flex-direction: column;
	width: 160px;
}


.nav-cat-wrapper:last-child {
	width: 140px;
}


.w140 {
	width: 140px;
}

.nav-bold-link {
	color: #333;
	font-size: 15px;
}


a.nav-bold-link {
	padding: 6px 1rem;
	margin-top: 1rem;
	font-weight: bold;
	font-size: 15px;
}


ul.nav-sub-ul {
	list-style:none;
	
}


.nav-sub-ul li {
	font-size: 15px;
	line-height: 30px;
	cursor: pointer;
	display: block;
}



.nav-sub-ul li:hover, .nav-bold-link:hover  {
	background-color: #f5f7fa; 
}

.nav-sub-ul li a {
	font-size: 15px;
	color: #585858;
	padding: 0 1rem;
	display: block;
	
}


@media only screen and (max-width: 750px) {
	
.mega-menu-wrapper {
	position: fixed;
	width: 100%;
	border-radius: 0;
	top: 60px;
	left: 0;
	padding: 1rem 1rem 1rem 1rem;
	overflow: auto ;
}

.nav-cat-wrapper {
	width:25%;
}
}


@media only screen and (max-width: 600px) {
	
	
.mega-menu-wrapper {
	bottom: 0px;
	overflow: auto ;
}

.nav-cat-wrapper {
	width:25%;
}

	
	
	
.mega-menu-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

	
.nav-cat-wrapper {
	width:50%;
}

.nav-cat-wrapper:last-child a.nav-bold-link {
    margin-top: 0.5rem; 
}


.nav-cat-wrapper:last-child {
    margin-top: 1.5rem; 
}
}
